[submodule "deps/bcrypt"]
	path = deps/bcrypt
	url = https://github.com/hilch/Bcrypt.cpp.git
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
